.activity-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.activity-days {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  width:fit-content;
}

.activity {
  display: flex;
  flex-direction: column;
}